.Login {
  display: block;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 17, 212, 0.7657913507199755) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  padding: 20% 20%;
  color: white;
}
.my-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

