.App {
  display: block;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 17, 212, 0.7657913507199755) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  padding: 10% 10%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.flexItem {
  flex-grow: 1;
  flex-basis: 100%;
}
.flexItem::after {
  content: "";
}


.logos-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.logo-link {
  margin: 0 10px;
  font-size: 24px; /* Adjust the size as needed */
}
